<template>
    <ul class="branch">
        <li v-for="(branch, index) in branchInfo" :key="index"><img :src="branch.icon" alt="">{{branch.address}}</li>
        <li v-for="(phone, id) in phoneInfo" :key="id"><img :src="phone.icon" alt="">{{phone.phoneNumber}}</li>
    </ul>
</template>

<script>
export default {
    name: 'header-branch',
    data () {
        return {

        }
    },
    props: {
        branchInfo: {
            type: Array,
        },
        phoneInfo: {
            type: Array,
        }
    }
}
</script>

<style lang="scss" scoped>

    .branch{
        list-style-type: none;
        display: flex;
        margin: 0;
        li {
            left:12px ;
        }
    }
    .branch li {
        padding: 0px 5px;
    }
</style>