<template>
  <header>
      <div class="header">
          <div class="address-info">
              <div class="social-info">
                  <div class="social-img">
                      <img :src="iconFace" alt="" style="width:30px">
                      <img :src="iconFace" alt="" style="width:30px">
                      <img :src="iconFace" alt="" style="width:30px">
                      <img :src="iconFace" alt="" style="width:30px">
                      <img :src="iconFace" alt="" style="width:30px">
                      <img :src="iconFace" alt="" style="width:30px">
                  </div>
              </div>
              <div class="address-branch">
                  <HBranchComp :branchInfo='branchInfo' :phoneInfo='phoneInfo'/>
              </div>
          </div>
          <div class="main">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-md-4 offset-lg-4">
                        <div class="logo">
                            <img :src="LogoCar" alt="LogoCar">
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="logo-parner">
                            <ul>
                                <li v-for="parner in parners" :key="parner.id">
                                    <a :href="parner.direct"><img :src="parner.image" :alt="parner.text"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
          <div class="menu">
              <HMenuComp :menutab='menutab' :socialMedia='socialMedia' />
          </div>
      </div>
  </header>
</template>

<script>
import iconFace from '@/assets/imgs/11.png'
import iconBranch from '@/assets/imgs/22.png'
import iconPhone from '@/assets/imgs/33.png'

import LogoCar from '../../assets/imgs/carlogo.png'
import LogoParner from '../../assets/imgs/parner.png'
import XanhDuong from '../../assets/imgs/x.png'
import XanhD from '../../assets/imgs/xd.png'
import Do from '../../assets/imgs/d.png'
import Vang from '../../assets/imgs/v.png'
import Nau from '../../assets/imgs/n.png'

import HBranchComp from '@/components/headerComps/HBranchComp'
import HMenuComp from '@/components/headerComps/HMenuComp'

export default {
    name: 'header-comp',
    data() {
        return {
            iconFace, iconBranch, iconPhone,
            LogoCar, LogoParner,
            XanhDuong, XanhD, Do, Vang, Nau,
            branchInfo: [
                {icon: iconBranch, address: ' 5813 Funston Street, Hollywood, FL 33023'},
                {icon: iconBranch, address: '  1050 South State Road 7, Hollywood, FL'},
            ],
            phoneInfo: [
                {icon: iconPhone, phoneNumber: ' (954) 800-2277'}
            ],
            parners:[
                {image: LogoParner, direct: 'google.com', text: 'Carf'}
            ], 
            menutab:[
                {name:'Home'},
                {name:'Inventory'},
                {name:'Cash Deals'},
                {name:'About Us'},
                {name:'Contact Us'},
                {name:'Get Approved Now'},
                {name:'Payments'},
                {name:'Blog'},  
            ],
            socialMedia: [
                {background: XanhDuong, icon:'', class: 'facebook'},
                {background: Do, icon:'', class: 'instagram'},
                // {background: Vang, icon:''},
                {background: Nau, icon:'', class: 'yahoo'},
            ]

        }
    },
    components:{
        HBranchComp,
        HMenuComp
    }, 
    computed: {

    },
}
</script>

<style lang="scss" scoped>

.address-info {
    margin: 0px 5px;
    display: flex;
    justify-content: space-between;
}

.logo-parner img {
    width: 85%;
    margin-right: 0;
}
.menu {
    background-color: #f4f4f4;
    width: 100% !important;
    position: relative;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    z-index: 999;
    padding: 4px 0px;
}
</style>