<template>
    <div class="container">
        <ul class="header-menu">
            <li class="menu-item" v-for="(menuItem, index) in menutab" :key="index">{{menuItem.name}}</li>
            <li class="social-item" :class="socialItem.class" v-for="(socialItem, id) in socialMedia" :key="id"><img style="width: 30px; height: 15px;" :src="socialItem.background" alt=""></li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'header-menu',
    data () {
        return {

        }
    }, 
    props: {
        menutab: {
            type: Array, 
        },
        socialMedia: {
            type: Array, 
        }
    }
}
</script>

<style lang="scss" scoped>

.container{
    max-width: 1250px;
    margin: 0 auto;
        .header-menu {
            display: inline-flex;
            margin: 0;
                li{
                    padding: 10px 0px;
                    font-size: 17px;
                    font-weight: bold;
                    position: relative;
                    transition: all .4s ease-in-out;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                li.menu-item {
                    padding: 10px 15px;
                    text-align: center;
                }
                li.social-item {
                    padding-right:10px;
                    padding-left: 10px;
                }
                li:hover {
                    background-color: #333;
                    color: white;
                }
                .facebook {
                    background: rgb(15, 204, 252);
                }
                .instagram {
                    background: rgb(167, 130, 8);
                }
                .yahoo {
                    background: rgb(214, 201, 16);
                }
        }
    }

</style>