<template>
<div>
        <div class="product-filter">
        <div class="container">
            <!-- <div class="row"> -->
                <ul class="filter" >
                    <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"  > -->
                        <li class="filter-item" v-for="filterItem in filterData" :key="filterItem.id">{{filterItem.filterBy}}</li>
                    <!-- </div> -->
                </ul>
            <!-- </div> -->
        </div>
    </div>

    <div class="result-filter">
        <div class="container">
            <div class="result">
                <div class="text">Search Filters:</div>
            </div>
            <div class="filter-option">
                <div class="clearbtn option">Clear</div>
                <div class="sortbtn option">Sort By</div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'product-filter',
    data () {
        return {

        }
    },
    props: {
        filterData: {
            type: Array,
        }
    }
}
</script>

<style lang="scss" scoped>
.product-filter {
    background-color: #333;
    margin-top: 1em;
    position: relative;
        .container {
            .filter {
                display: flex;
                color: rgb(207, 197, 197);
                    li {
                        font-size: 18px; 
                        padding: 12px 65px;
                        transition: all .3s ease-in-out;
                        border-left: 1px solid #212121;
                        border-right: 1px solid rgba(255,255,255,0.1);
                        box-sizing: border-box;
                        cursor: pointer;
                    }
                    li:hover {
                        color: #fff;
                        background-color: rgb(8, 8, 8);
                    }
            }
        }
}

.result-filter {
    .container {
        max-width: 1250px;
        display: flex;
        justify-content: space-between;
        padding: 15px 15px;
        .text {
            font-size: 17px;
            margin: auto;
            padding: 7px 0;
        }
    }
    
    .filter-option {
        display: flex;
            .option{
                padding: 7px 20px;
                transition: all .3s ease;
            }
            .option:hover {
                border: 1px solid #333;
            }
            .clearbtn {
                margin-right: 10px;
                border: 1px solid #b3afaf;
                background-color: #f4f4f4;
                cursor: pointer;
            }
            .sortbtn {
                border: 1px solid #b3afaf;
                background-color: #f4f4f4;
                cursor: pointer;
            }
    }
}

</style>