<template>
  <!-- <div class="pagination">
      <div class="page-item">
        <div class="previous paginate-item">
            <div><ion-icon name="arrow-back-sharp"></ion-icon></div>
        </div>
      </div>
      <div class="page item">
        <div class="page-number paginate-item">
            <div>{{page}}</div>
        </div>
      </div>
      <div class="page-item">
        <div class="next paginate-item">
          <div><ion-icon name="arrow-forward-sharp"></ion-icon></div>
        </div>
      </div>
  </div> -->

  <div class="col-sm-12">
  <div class="offset">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User ID</th>
      </tr>
    </thead>
    <tbody>
    <tr v-for="p in displayedPosts" :key="p.id">
      <td>{{p.first}}</td>
      <td>{{p.last}}</td>
      <td>{{p.suffix}}</td>
    </tr>
    </tbody>
  </table>
    <nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item">
					<button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous </button>
				</li>
				<li class="page-item">
					<button type="button" class="page-link" v-for="pageNumber in pages.slice(page-1, page+5)" :key="pageNumber.id" @click="page = pageNumber"> {{pageNumber}} </button>
				</li>
				<li class="page-item">
					<button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next </button>
				</li>
			</ul>
		</nav>	
  </div>
</div>
</template>

<script>
export default {
    name: 'paginationComp',
    data () {
        return {
            posts : [''],
			page: 1,
			perPage: 10,
			pages: [],

        }
    },
    methods:{
		getPosts () {	
      // let datas = [];
      for(let i = 0; i < 200; i++){
        this.posts.push({first: 'John',
               last:'Doe', 
               suffix:'#' + i});
      }  
		},
		setPages () {
      let numberOfPages = Math.ceil(this.posts.length / this.perPage); // tỏng số phàn tử chia cho tổng số phần tử tên page

      console.log('Có bao nhieu phan tu : '+this.posts.length); // có bao nhieu phan tu trong page
      console.log('Có bao nhieu trang : '+Math.ceil(this.posts.length/ this.perPage)); // chia cho tổng số phẩn tử hiển thị trên 1 page
      console.log('Mỗi trang có '+this.perPage+' phần tử');
      
			for (let index = 1; index <= numberOfPages; index++) { // vong for hien thi so trang hien co
        this.pages.push(index);
      }
      
		},
		paginate (posts) { // HIỂN thị bao nhieu bài post trong thumbnail
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
      let to = (page * perPage);
      console.log('Hien thị tư ' +from+ ' đến ' + to);
      
			return  posts.slice(from, to);
		}
	},
	computed: {
		displayedPosts () { // function hien thị san pham
			return this.paginate(this.posts);
		}
	},
	watch: {
		posts () {
			this.setPages();
		}
	},
	created(){
		this.getPosts();
	},
	// filters: {
	// 	trimWords(value){
	// 		return value.split(" ").splice(0,20).join(" ") + '...';
	// 	}
	// }
}
</script>

<style>
  
</style>