<template>
  <div>
    <div class="list-product">
        <ProductComp v-for="(productItem, index) in ListProducts" :key="index" :productItem='productItem'/>
    </div>
    <div class="paginate">
        <PaginationComp :ListProducts='ListProducts'/>
    </div>
  </div>
</template>

<script>
import ProductComp from './ProductComp'
import PaginationComp from '../commons/PaginationComp'
import product1 from '../../assets/imgs/12.jpg'
import product12 from '../../assets/imgs/123.jpg'
import product123 from '../../assets/imgs/1234.jpg'
import product1234 from '../../assets/imgs/12345.jpg'
import product12345 from '../../assets/imgs/123456.jpg'
import product123456 from '../../assets/imgs/1234567.jpg'
import product1234567 from '../../assets/imgs/12345678.jpg'
import product12345678 from '../../assets/imgs/1.jpg'
export default {
    name: 'product-list',
    data () {
        return {
            product1, product12, product123, product1234, product12345, product123456, product1234567, product12345678,
            ListProducts:[
                {pImage: product1, pName: 'Aston Martin Valkyrie', pPrice: '780000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product12, pName: 'McLaren P1 LM', pPrice: '580000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product123, pName: 'Rolls-Royce', pPrice: '980000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product1234, pName: 'Maybach Exelero', pPrice: '880000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product12345, pName: 'Bugatti Veyron', pPrice: '550000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product123456, pName: 'Lykan Hypersport', pPrice: '680000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product1234567, pName: 'Lamborghini Veneno Roadster', pPrice: '1880000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product12345678, pName: 'Koenigsegg', pPrice: '882000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product123, pName: 'Rolls-Royce', pPrice: '980000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product1234, pName: 'Maybach Exelero', pPrice: '880000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product12, pName: 'McLaren P1 LM', pPrice: '580000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
                {pImage: product1, pName: 'Aston Martin Valkyrie', pPrice: '780000000', pView: 'https://getanicecar.com/inventory/37155/view/RR0372/Hollywood-FL/2016-Chevrolet-Equinox', pContact: 'https://getanicecar.com/get-approved-now'},
            ],
        }
    }, 
    components: {
        ProductComp,
        PaginationComp
    }
}
</script>

<style lang="scss" scoped>
    .list-product {
        display: flex;
        flex-wrap: wrap;
    }

</style>