<template>
  <div class="product">
      <div class="product-frame">
          <div class="product-img">
              <a :href="productItem.pView"><img :src="productItem.pImage" style="width:100%" :alt="productItem.pName"></a>
          </div>
          <div class="icons">
              <div class="icon-item">
                  <div class="ion-eye">
                        <a :href="productItem.pView">
                            <ion-icon name="eye-sharp"></ion-icon>
                        </a>            
                  </div>
              </div>
              <div class="icon-item">
                  <div class="ion-photo">
                      <a href="">
                          <ion-icon name="images-sharp"></ion-icon>
                      </a>
                  </div>
              </div>
              <div class="icon-item">
                  <div class="ion-contact">
                      <a :href="productItem.pContact">
                          <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
                      </a>
                  </div>
              </div>
          </div>
          <div class="product-price">
              <span>{{productItem.pPrice}}</span>
          </div>
      </div>
      <div class="product-name">
            <h5>{{productItem.pName}}</h5>
      </div>
  </div>
</template>

<script>
import product1 from '../../assets/imgs/12.jpg'
export default {
    name: 'product', 
    data () {
        return {
            product1
        }
    },
    props: {
        productItem:{
            type: Object,
            default: null
        }
    },
    components: {
    }
}
</script>

<style lang="scss" scoped>
    .product {
        width: 25%;
        padding: 15px;
    }
    .product-frame {
        position: relative;
            .product-price {
                position: absolute;
                background-color: rgba(255,255,255,0.8);
                background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.15) 100%);
                background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.15) 100%);
                box-shadow: 0 0 3px rgba(0,0,0,0.3);
                border-top: 1px solid rgba(255,255,255,0.5);
                border-bottom: 1px solid rgba(255,255,255,0.5);
                bottom: 1em; // nó sẽ cách bottom 1em
                padding: .5em;
                right: 0; // cho nó tràn viền
                left: 0;
            }
            .icons {
                position: absolute;
                bottom: 4em;
                right: 0;
                z-index: 2;
                // transition: bottom 0.25s ease-in-out;
                
                    .icon-item {
                        background-color: #333;
                        padding: 0 .25em;
                        box-sizing: border-box;
                        margin-right: .8em;
                        display: inline-block;
                        box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.3);
                        border-radius: .2em;
                        transition-delay: .3s;
                        transition: all 0.2s ease-out;
                        opacity: 0;
                        cursor: pointer;
                            ion-icon{
                                color: beige;
                                font-size: 25px;
                            }
                            .ion-eye, .ion-photo, .ion-contact {
                                padding-top: 5px;
                                padding-left: 4px;
                                padding-right: 4px;
                            }
                    }
            }
    }
    .product-frame:hover .icon-item{
        opacity: 1;
        transition: all .2s ease-in;
        transform: translate(.1em, 1em);
        
    }

</style>