<template>
  <div id="app">
    <div class="container">
      <HeaderComp/>
      <ProductFilterComp :filterData='filterData'/>
      <ProductListComp/>
    </div>
  </div>
</template>

<script>
// import './style.scss';
import HeaderComp from '@/components/headerComps/HeaderComp'
import ProductFilterComp from '@/components/fillterComps/ProductFilterComp'
import ProductListComp from '@/components/productComps/ListProductsComp'

export default {
  name: 'App',
  components: {
    HeaderComp,
    ProductFilterComp,
    ProductListComp
  },
  data () {
    return {
      filterData: [
        {filterBy: 'By Make'},
        {filterBy: 'By Model'},
        {filterBy: 'By Year'},
        {filterBy: 'By Price'},
        {filterBy: 'By Mileage'},
        {filterBy: 'By Category'}
      ]
    }
  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
}

@import'~bootstrap/dist/css/bootstrap.css'
</style>
